@keyframes  random1 {
0%   { color: #ff0000; } /* 1  */
15%  { color: #ff4000; } /* 2  */
30%  { color: #ff8000; } /* 3  */
45%  { color: #ffbf00; } /* 4  */
60%  { color: #ffff00; } /* 5  */
75%  { color: #bfff00; } /* 6  */
90%  { color: #80ff00; } /* 7  */
105% { color: #40ff00; } /* 8  */
120% { color: #00ff00; } /* 9  */
135% { color: #00ff40; } /* 10 */
150% { color: #00ff80; } /* 11 */
165% { color: #00ffbf; } /* 12 */
180% { color: #00ffff; } /* 13 */
195% { color: #00bfff; } /* 14 */
210% { color: #0080ff; } /* 15 */
225% { color: #0040ff; } /* 16 */
240% { color: #0000ff; } /* 17 */
255% { color: #4000ff; } /* 18 */
270% { color: #8000ff; } /* 19 */
285% { color: #bf00ff; } /* 20 */
300% { color: #ff00ff; } /* 21 */
315% { color: #ff00bf; } /* 22 */
330% { color: #ff0080; } /* 23 */
345% { color: #ff0040; } /* 24 */
360% { color: #ff0000; } /* 25 */
}
@keyframes  random12 {
8%  { color: #440697; } /* 1  */
10% { color: #4b069a; } /* 2  */
12% { color: #52059c; } /* 3  */
14% { color: #58059f; } /* 4  */
16% { color: #5f05a2; } /* 5  */
18% { color: #6604a4; } /* 6  */
20% { color: #6d04a7; } /* 7  */
22% { color: #7404aa; } /* 8  */
24% { color: #7a04ac; } /* 9  */
26% { color: #8103af; } /* 10 */
28% { color: #8803b2; } /* 11 */
30% { color: #8f03b4; } /* 12 */
32% { color: #9602b7; } /* 13 */
34% { color: #9c02b9; } /* 14 */
36% { color: #a302bc; } /* 15 */
38% { color: #aa02bf; } /* 16 */
40% { color: #b101c1; } /* 17 */
42% { color: #b801c4; } /* 18 */
44% { color: #be01c7; } /* 19 */
46% { color: #c500c9; } /* 20 */
48% { color: #cc00cc; } /* 21 */
50% { color: #cc00cc; } /* 22 */
52% { color: #c500c9; } /* 23 */
54% { color: #be01c7; } /* 24 */
56% { color: #b801c4; } /* 25 */
58% { color: #b101c1; } /* 26 */
60% { color: #aa02bf; } /* 27 */
62% { color: #a302bc; } /* 28 */
64% { color: #9c02b9; } /* 39 */
66% { color: #9602b7; } /* 30 */
68% { color: #8f03b4; } /* 31 */
70% { color: #8803b2; } /* 32 */
72% { color: #8103af; } /* 33 */
74% { color: #7a04ac; } /* 34 */
76% { color: #7404aa; } /* 35 */
78% { color: #6d04a7; } /* 36 */
80% { color: #6604a4; } /* 37 */
82% { color: #5f05a2; } /* 38 */
84% { color: #58059f; } /* 49 */
86% { color: #52059c; } /* 40 */
88% { color: #4b069a; } /* 41 */
90% { color: #440697; } /* 42 */
}
@keyframes  random2 {
8%  { background: #440697; } /* 1  */
10% { background: #4b069a; } /* 2  */
12% { background: #52059c; } /* 3  */
14% { background: #58059f; } /* 4  */
16% { background: #5f05a2; } /* 5  */
18% { background: #6604a4; } /* 6  */
20% { background: #6d04a7; } /* 7  */
22% { background: #7404aa; } /* 8  */
24% { background: #7a04ac; } /* 9  */
26% { background: #8103af; } /* 10 */
28% { background: #8803b2; } /* 11 */
30% { background: #8f03b4; } /* 12 */
32% { background: #9602b7; } /* 13 */
34% { background: #9c02b9; } /* 14 */
36% { background: #a302bc; } /* 15 */
38% { background: #aa02bf; } /* 16 */
40% { background: #b101c1; } /* 17 */
42% { background: #b801c4; } /* 18 */
44% { background: #be01c7; } /* 19 */
46% { background: #c500c9; } /* 20 */
48% { background: #cc00cc; } /* 21 */
50% { background: #cc00cc; } /* 22 */
52% { background: #c500c9; } /* 23 */
54% { background: #be01c7; } /* 24 */
56% { background: #b801c4; } /* 25 */
58% { background: #b101c1; } /* 26 */
60% { background: #aa02bf; } /* 27 */
62% { background: #a302bc; } /* 28 */
64% { background: #9c02b9; } /* 39 */
66% { background: #9602b7; } /* 30 */
68% { background: #8f03b4; } /* 31 */
70% { background: #8803b2; } /* 32 */
72% { background: #8103af; } /* 33 */
74% { background: #7a04ac; } /* 34 */
76% { background: #7404aa; } /* 35 */
78% { background: #6d04a7; } /* 36 */
80% { background: #6604a4; } /* 37 */
82% { background: #5f05a2; } /* 38 */
84% { background: #58059f; } /* 49 */
86% { background: #52059c; } /* 40 */
88% { background: #4b069a; } /* 41 */
90% { background: #440697; } /* 42 */
}
@keyframes  random3 {
8%  { background-color: #440697; } /* 1  */
10% { background-color: #4b069a; } /* 2  */
12% { background-color: #52059c; } /* 3  */
14% { background-color: #58059f; } /* 4  */
16% { background-color: #5f05a2; } /* 5  */
18% { background-color: #6604a4; } /* 6  */
20% { background-color: #6d04a7; } /* 7  */
22% { background-color: #7404aa; } /* 8  */
24% { background-color: #7a04ac; } /* 9  */
26% { background-color: #8103af; } /* 10 */
28% { background-color: #8803b2; } /* 11 */
30% { background-color: #8f03b4; } /* 12 */
32% { background-color: #9602b7; } /* 13 */
34% { background-color: #9c02b9; } /* 14 */
36% { background-color: #a302bc; } /* 15 */
38% { background-color: #aa02bf; } /* 16 */
40% { background-color: #b101c1; } /* 17 */
42% { background-color: #b801c4; } /* 18 */
44% { background-color: #be01c7; } /* 19 */
46% { background-color: #c500c9; } /* 20 */
48% { background-color: #cc00cc; } /* 21 */
50% { background-color: #cc00cc; } /* 22 */
52% { background-color: #c500c9; } /* 23 */
54% { background-color: #be01c7; } /* 24 */
56% { background-color: #b801c4; } /* 25 */
58% { background-color: #b101c1; } /* 26 */
60% { background-color: #aa02bf; } /* 27 */
62% { background-color: #a302bc; } /* 28 */
64% { background-color: #9c02b9; } /* 39 */
66% { background-color: #9602b7; } /* 30 */
68% { background-color: #8f03b4; } /* 31 */
70% { background-color: #8803b2; } /* 32 */
72% { background-color: #8103af; } /* 33 */
74% { background-color: #7a04ac; } /* 34 */
76% { background-color: #7404aa; } /* 35 */
78% { background-color: #6d04a7; } /* 36 */
80% { background-color: #6604a4; } /* 37 */
82% { background-color: #5f05a2; } /* 38 */
84% { background-color: #58059f; } /* 49 */
86% { background-color: #52059c; } /* 40 */
88% { background-color: #4b069a; } /* 41 */
90% { background-color: #440697; } /* 42 */
}
